/target/
src/main/resources/projects/ground_truth/ground_truth_projects_with_dups.csv
src/main/resources/projects/orgs_with_dups.csv
src/main/resources/projects/people-split/ground_truth_left100k.csv
src/main/resources/projects/people-split/ground_truth_right100k.csv
src/main/resources/projects/people-split/left100k.csv
src/main/resources/projects/people-split/right100k.csv
src/main/resources/projects/people_full100k.csv
src/main/resources/projects/projects_with_dups.csv
src/main/resources/stopwords/stopwords.txt
src/main/resources/stopwords/stopwords_SER
src/main/resources/tests/test_synth.sql
src/test/resources/log4j.properties
data/blockIndex/orgs_with_dupsInvertedIndex
data/blockIndex/people_full100kInvertedIndex
data/blockIndex/projects_with_dupsInvertedIndex
data/experiments/log.out
data/experiments/people_full100k_and_orgs.csv
data/logs/log.out
data/queryResults/queryResults.csv
data/blockDistr_projects_with_dups.csv
data/blockDistr_publications.csv
data/groundTruth/orgs_with_dups10
data/groundTruth/orgs_with_dups2
data/groundTruth/orgs_with_dups2.22
data/groundTruth/orgs_with_dups2.5
data/groundTruth/orgs_with_dups2.85
data/groundTruth/orgs_with_dups20
data/groundTruth/orgs_with_dups3.3
data/groundTruth/orgs_with_dups4
data/groundTruth/orgs_with_dups5
data/groundTruth/orgs_with_dups6.6
data/groundTruth/people_full100k10
data/groundTruth/people_full100k2
data/groundTruth/people_full100k2.22
data/groundTruth/people_full100k2.5
data/groundTruth/people_full100k2.85
data/groundTruth/people_full100k20
data/groundTruth/people_full100k3.3
data/groundTruth/people_full100k4
data/groundTruth/people_full100k5
data/groundTruth/people_full100k6.6
data/groundTruth/projects_with_dups20
data/groundTruth/publications10
data/groundTruth/publications2
data/groundTruth/publications2.22
data/groundTruth/publications2.5
data/groundTruth/publications2.85
data/groundTruth/publications3.3
data/groundTruth/publications4
data/groundTruth/publications5
data/groundTruth/publications6.6
data/logs/log.csv
data/qIds
