/target/
src/main/resources/projects/ground_truth/ground_truth_projects_with_dups.csv
src/main/resources/projects/orgs_with_dups.csv
src/main/resources/projects/people-split/ground_truth_left100k.csv
src/main/resources/projects/people-split/ground_truth_right100k.csv
src/main/resources/projects/people-split/left100k.csv
src/main/resources/projects/people-split/right100k.csv
src/main/resources/projects/people_full100k.csv
src/main/resources/projects/projects_with_dups.csv
src/main/resources/stopwords/stopwords.txt
src/main/resources/stopwords/stopwords_SER
src/main/resources/tests/test_synth.sql
src/test/resources/log4j.properties
data/blockIndex/orgs_with_dupsInvertedIndex
data/blockIndex/people_full100kInvertedIndex
data/blockIndex/projects_with_dupsInvertedIndex
data/experiments/log.out
data/experiments/people_full100k_and_orgs.csv
data/logs/log.out
data/queryResults/queryResults.csv
data/blockDistr_projects_with_dups.csv
data/blockDistr_publications.csv
data/groundTruth/orgs_with_dups10
data/groundTruth/orgs_with_dups2
data/groundTruth/orgs_with_dups2.22
data/groundTruth/orgs_with_dups2.5
data/groundTruth/orgs_with_dups2.85
data/groundTruth/orgs_with_dups20
data/groundTruth/orgs_with_dups3.3
data/groundTruth/orgs_with_dups4
data/groundTruth/orgs_with_dups5
data/groundTruth/orgs_with_dups6.6
data/groundTruth/people_full100k10
data/groundTruth/people_full100k2
data/groundTruth/people_full100k2.22
data/groundTruth/people_full100k2.5
data/groundTruth/people_full100k2.85
data/groundTruth/people_full100k20
data/groundTruth/people_full100k3.3
data/groundTruth/people_full100k4
data/groundTruth/people_full100k5
data/groundTruth/people_full100k6.6
data/groundTruth/projects_with_dups20
data/groundTruth/publications10
data/groundTruth/publications2
data/groundTruth/publications2.22
data/groundTruth/publications2.5
data/groundTruth/publications2.85
data/groundTruth/publications3.3
data/groundTruth/publications4
data/groundTruth/publications5
data/groundTruth/publications6.6
data/logs/log.csv
data/qIds
*.json
*.csv
data/blockDistr_publications.csv
data/blockIndex/venuesInvertedIndex
data/blocks/publications
data/qIds
data/tableStats/blockIndex/orgs_with_dups.json
data/tableStats/blockIndex/people_full100k.json
data/tableStats/blockIndex/projects_with_dups.json
data/tableStats/blockIndex/publications.json
data/blockDistr_publications.csv
data/blocks/publications
data/qIds
data/tableStats/blockIndex/orgs_with_dups.json
data/tableStats/blockIndex/people_full100k.json
data/tableStats/blockIndex/projects_with_dups.json
data/tableStats/blockIndex/publications.json
data/blockIndex/people200kEntitiesToBlocks
data/blockIndex/people200kInvertedIndex
data/blockIndex/people50k_subEntitiesToBlocks
data/blockIndex/people50k_subInvertedIndex
data/blockIndex/people50kEntitiesToBlocks
data/blockIndex/people50kInvertedIndex
data/blockIndex/people_leftEntitiesToBlocks
data/blockIndex/people_leftInvertedIndex
data/blockIndex/people_rightEntitiesToBlocks
data/blockIndex/people_rightInvertedIndex
data/blockIndex/projects_subEntitiesToBlocks
data/blockIndex/projects_subInvertedIndex
data/blockIndex/projectsEntitiesToBlocks
data/blockIndex/projectsInvertedIndex
data/blockIndex/publicationsEntitiesToBlocks
data/blockIndex/publicationsInvertedIndex
data/blockIndex/venuesEntitiesToBlocks
data/blocks/people50k_sub
data/blocks/projects_sub
data/experiments/people+orgs/stats.csv
data/experiments/projects/0.35/log.out
data/experiments/projects/0.35/queryResults.csv
data/experiments/publs/stats.csv
data/groundTruth/orgs_with_dups10
data/groundTruth/orgs_with_dups2
data/groundTruth/orgs_with_dups2.22
data/groundTruth/orgs_with_dups2.5
data/groundTruth/orgs_with_dups2.85
data/groundTruth/orgs_with_dups20
data/groundTruth/orgs_with_dups3.3
data/groundTruth/orgs_with_dups4
data/groundTruth/orgs_with_dups5
data/groundTruth/orgs_with_dups6.6
data/groundTruth/people_full100k10
data/groundTruth/people_full100k2
data/groundTruth/people_full100k2.22
data/groundTruth/people_full100k2.5
data/groundTruth/people_full100k2.85
data/groundTruth/people_full100k20
data/groundTruth/people_full100k3.3
data/groundTruth/people_full100k4
data/groundTruth/people_full100k5
data/groundTruth/people_full100k6.6
data/groundTruth/projects_with_dups10
data/groundTruth/projects_with_dups20
data/groundTruth/projects_with_dups3.3
data/groundTruth/projects_with_dups4
data/groundTruth/projects_with_dups5
data/groundTruth/projects_with_dups6.6
data/groundTruth/publications10
data/groundTruth/publications2
data/groundTruth/publications2.22
data/groundTruth/publications2.5
data/groundTruth/publications2.85
data/groundTruth/publications20
data/groundTruth/publications3.3
data/groundTruth/publications4
data/groundTruth/publications5
data/groundTruth/publications6.6
data/qIds
deduplication.properties
febrl/dsgen/data/key-freq.csv
febrl/dsgen/generate_people.py
resources/log4j.properties
resources/people/subset.py
resources/tests/test_example.sql
resources/tests/test_people.sql
resources/tests/test_synthetic.sql
resources/tests/text_example.sql
.settings/org.eclipse.core.resources.prefs
.settings/org.eclipse.jdt.apt.core.prefs
.settings/org.eclipse.jdt.core.prefs
.settings/org.eclipse.m2e.core.prefs
.settings/sf.eclipse.javacc.prefs
config.properties
data/blockIndex/organisationsEntitiesToBlocks
data/blockIndex/organisationsInvertedIndex
data/experiments/people+orgs/stats.csv
data/experiments/projects/0.35/log.out
data/experiments/projects/0.35/queryResults.csv
data/experiments/publs/stats.csv
data/groundTruth/orgs_with_dups10
data/groundTruth/orgs_with_dups2
data/groundTruth/orgs_with_dups2.22
data/groundTruth/orgs_with_dups2.5
data/groundTruth/orgs_with_dups2.85
data/groundTruth/orgs_with_dups20
data/groundTruth/orgs_with_dups3.3
data/groundTruth/orgs_with_dups4
data/groundTruth/orgs_with_dups5
data/groundTruth/orgs_with_dups6.6
data/groundTruth/people_full100k10
data/groundTruth/people_full100k2
data/groundTruth/people_full100k2.22
data/groundTruth/people_full100k2.5
data/groundTruth/people_full100k2.85
data/groundTruth/people_full100k20
data/groundTruth/people_full100k3.3
data/groundTruth/people_full100k4
data/groundTruth/people_full100k5
data/groundTruth/people_full100k6.6
data/groundTruth/projects_with_dups10
data/groundTruth/projects_with_dups20
data/groundTruth/projects_with_dups3.3
data/groundTruth/projects_with_dups4
data/groundTruth/projects_with_dups5
data/groundTruth/projects_with_dups6.6
data/groundTruth/publications10
data/groundTruth/publications2
data/groundTruth/publications2.22
data/groundTruth/publications2.5
data/groundTruth/publications2.85
data/groundTruth/publications20
data/groundTruth/publications3.3
data/groundTruth/publications4
data/groundTruth/publications5
data/groundTruth/publications6.6
data/qIds
data/blocks/organisations
